@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
$color-nav: #F5B7B1;
$color-fondo-links: #FDEDEC;

.nav{

    margin-bottom: 0px;
    background-color:$color-nav ;
    height: 100px;
    .nav-img{
        width: 80px;
        height: 90px;
        text-align: center;
    }
    .link-space{
        margin: 10px;
    }
    .nav-link{
        color: $color-fondo-links;
        text-decoration: none;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 20px;
        
    }
}

@media (max-width: 660px) {
    .nav{
        .link-space{
            display: none;
        }
    }
  }