.img-movie{
    border-radius: 7px;
    padding: 2px;
}
.icon-title{
    display: flex;
    align-items: center;
    padding: 2px;
    .titulo{
        text-align: center;
    }
}

@media (max-width: 600px) {
    .items-movie{
        padding: 2px;
    }
    .icon-title{
        width: 100%;
        justify-content: end;
    }
  }